@import url("https://api.fonts.coollabs.io/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=VT323&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer {
  .app {
    background: #000 url("public/img/background.webp") no-repeat fixed center;
    background-size: cover;
    min-height: 100vh;
    font-family: "Lato", sans-serif;
  }

  .app {
    @apply text-neutral-900;
  }

  .header {
    font-family: "VT323", monospace;
    background-color: #000;
    color: transparent;
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.25);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
  }

  .modal-mask {
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.75);
    transition: opacity 0.3s ease;
  }

  .modal-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .modal-container {
    transition: all 0.3s ease;
  }

  .modal-enter-from {
    opacity: 0;
  }

  .modal-leave-to {
    opacity: 0;
  }

  .modal-enter-from .modal-container,
  .modal-leave-to .modal-container {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}
